/* Global styles for common elements */
:root {
  --orange: #ff6000;
  --light: #ffe6c7;
  --header-link: grey;
  --background: #0e1212;
  font-family: "Roboto Mono", monospace;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 100%;
  background: var(--background);
  font-family: "Roboto Mono", monospace;
}
/* Header styles */
header {
  padding: 1rem 0;
}
/* Navbar styles */
.logo {
  color: var(--orange);
  font-size: 1.2rem;
}
.navbar-nav .nav-link {
  font-size: 1.2rem;
  margin: 0 15px;
  color: var(--orange);

  transition: all 0.2s ease-in-out;
}
.navbar-nav {
  text-align: right;
}
.nav-link:hover,
nav li.active .nav-link {
  color: var(--header-link);
}
.navbar-toggler-icon {
  background-image: none !important;
  background-color: var(--orange);
  height: 3px;
  width: 25px;
  margin: 10px 0;
  position: relative;
  transition: all 0.35s ease-out;
  transform-origin: center;
}
.navbar-toggler-icon::before {
  display: block;
  background-color: var(--orange);
  height: 3px;
  content: "";
  position: relative;
  top: -7px;
  transition: all 0.15s ease-out;
  transform-origin: center;
}
.navbar-toggler-icon::after {
  display: block;
  background-color: var(--orange);
  height: 3px;
  content: "";
  position: relative;
  top: 4px;
  transition: all 0.35s ease-out;
  transform-origin: center;
}
.navbar-toggler-icon,
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  background-color: var(--orange);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  transform: rotate(45deg);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
  transform: rotate(-90deg) translateX(7px);
}
main {
  flex-grow: 1;
  padding: 60px 20px;
}

.content {
  margin: 30px;
}
#hero {
  margin-top: 15rem;
}
#hero h1 {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: left;
}
#hero h2 {
  font-size: 2rem;
  color: var(--orange);
  text-align: left;
}
#hero h1 span {
  background-color: var(--header-link);
  animation: caret infinite 1s steps(1);
}
@keyframes caret {
  50% {
    background-color: transparent;
  }
}
.content h1 {
  color: white;
  font-size: 3rem;
  line-height: 4rem;
  text-align: center;
}
.content h3 {
  color: var(--orange);
}
.content p {
  color: white;
  font-size: 1.2rem;
  line-height: 2rem;
}
.work-contact-link {
  color: white;
  text-decoration: none;
}
.work-contact-link:hover {
  color: var(--orange);
}

/* Styles specific to the work page */
.project-link a {
  display: inline-block;
  line-height: 1.8rem;
  padding: 4px 10px;
  margin: 5px 0;
  border-radius: 6px;
  text-decoration: none;
  transition: all 100ms ease-in-out;
  font-size: 1rem;
  color: white;
  background-color: var(--orange);
}
.project-link a:hover {
  color: var(--orange);
  background-color: white;
}

/* Styles specific to the contact page */
.contact-icons a {
  margin: 0 15px;
  color: white;
  background: var(--background);
  font-size: 2rem;
  transition: all 100ms ease-in-out;
  text-decoration: none;
}
.contact-icons a:hover {
  color: var(--orange);
}
.email-link::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.email-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.email-link::before {
  content: " ";
  position: absolute;
  inset: 0 0 0 0;
  background: var(--orange);
  z-index: -1;
  transition: transform 0.3s ease;
}
.email-link {
  color: white;
  position: relative;
  font-size: 1.7rem;
  line-height: 2.5rem;
  text-decoration: none;
}

/* Footer styles */
footer {
  color: var(--header-link);
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}
@media (max-width: 576px) {
  header {
    padding: 1rem;
  }
  #hero {
    margin-top: 10rem;
  }
  #hero h1 {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1rem;
  }
  #hero h2 {
    font-size: 1.5rem;
  }
  #project {
    text-align: center;
  }
  .email-link {
    font-size: 1.5rem;
  }
  .content h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .project-link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .content h1 {
    font-size: 2.3rem;
    line-height: 3rem;
  }
  .content h3 {
    font-size: 2rem;
    line-height: 2.7rem;
  }
}

@media screen and (min-width: 1400px) {
  #hero {
    margin-top: 20rem;
  }
}
